input[type='range'] {
  -webkit-appearance: none;
  width: 120;
  height: 10px;
  outline: none;
  border-radius: 8.1875rem;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: radial-gradient(50% 50% at 50% 50%, #946ec4 0%, #513d6c 100%);
  cursor: pointer;
}

input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 20px;
  border-radius: 8.1875rem;
  background: #d9d9d9;
  box-shadow:
    4px 4px 10px 0px rgba(0, 0, 0, 0.35) inset,
    -15px -15px 30px 0px #fff inset;
}

.MusicSpeedInput {
  width: 90%;
}

.Controller {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 16rem;
  margin: 2rem;
  border-radius: 0.875rem;
  border: 1px solid #e2d2fe;
  background: #fff;
  box-shadow: -2px 5px 13px 2px rgba(0, 0, 0, 0.25);
}

.create-button:hover {
  background: #f0f0f0;
}

.create-button:active {
  background: #e3e5ff;
}

.create-button {
  padding: 0.4rem 1rem;
  font-size: 1rem;
  width: 4.6rem;
  font-weight: 500;
  color: #ffffff;
  border-radius: 1rem;
  background: linear-gradient(
    120deg,
    #dbbeff -0.41%,
    rgba(212, 210, 255, 0.98) 6.15%,
    rgba(219, 200, 243, 0.76) 35.4%,
    rgba(219, 200, 243, 0.76) 78.69%
  );
}

.create-button-after {
  padding: 0.4rem 1rem;
  width: 4.6rem;
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  border-radius: 1rem;
  background: linear-gradient(120deg, #946ec4 0%, #513d6c 100%);
}

input:focus {
  outline: none;
}
.create-controller-container {
  display: flex;
  margin-left: 3rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.ControllerTitle {
  position: relative;
  top: -1rem;
  color: #513d6c;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: capitalize;
}

.ControllerSubtitle {
  color: #513d6c;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 1rem;
  font-weight: 300;
  text-transform: capitalize;
}

.MusicSpeedInputContainer {
  display: flex;
  width: 100%;
  margin-top: 3rem;
  height: 4rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.SpeedValueContainer {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.SpeedValue {
  color: #513d6c;
  font-size: 0.875rem;
  font-weight: 300;
  margin: 0 3rem;
  text-transform: capitalize;
}

.MusicMoodButtonContainer {
  display: flex;
  width: 12rem;
  height: 4rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.MusicPlaceButtonContainer {
  display: flex;
  width: 12rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.ChangeStepButton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 6rem;
  height: 2.5rem;
  border: none;
  border-radius: 1.25rem;
  background: linear-gradient(
    120deg,
    #dbbeff -0.41%,
    rgba(212, 210, 255, 0.98) 6.15%,
    rgba(219, 200, 243, 0.76) 35.4%,
    rgba(219, 200, 243, 0.76) 78.69%
  );
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  text-align: center;
  padding: 0.5rem;
  transition: 0.3s;
}

.ChangeStepButton:hover {
  transform: scale(1.1);
  background: white;
}

.MusicStringPromptContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.PromptInputContainer {
  display: flex;
  gap: 1rem;
  width: 40rem;
  height: 15rem;
  margin: 0 0 2rem 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.875rem;
  border: 1px solid #e2d2fe;
  background: #fff;
  box-shadow: -2px 5px 13px 2px rgba(0, 0, 0, 0.25);
}

.PromptTitle {
  font-size: 1.5rem;
  font-weight: 400;
  color: #513d6c;
  letter-spacing: 0.125rem;
  text-transform: capitalize;
}

.PromptInput {
  width: 30rem;
  font-size: 1.2rem;
  margin-top: 2rem;
  height: 2rem;
  border: none;
  border-bottom: 1px solid #513d6c;
  background: none;
}

.GeneratePromptButton {
  margin-top: 2rem;
  width: 10rem;
  height: 3rem;
  border: none;
  border-radius: 1.25rem;
  background: linear-gradient(
    120deg,
    #dbbeff -0.41%,
    rgba(212, 210, 255, 0.98) 6.15%,
    rgba(219, 200, 243, 0.76) 35.4%,
    rgba(219, 200, 243, 0.76) 78.69%
  );
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  margin-left: 2rem;
}

.GeneratePromptButton:hover {
  transform: scale(1.1);
}

.error-message {
  color: red;
  text-align: center;
  font-size: 1.2rem;
  margin: 1rem 0;
}