.process-button-container {
  display: flex;
  justify-content: center;
  width: 20rem;
  height: 4rem;
  margin-top: 2.5rem;
  border: none;
  align-items: center;
  border-radius: 1.25rem;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.process-button-content {
  font-size: 1.5rem;
  color: #5d5d5d;
  font-style: normal;
  font-weight: 500;
}

.social-img {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}
/* Home 스타일 */
.home-background {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  background-image: url('../img/bgImg.png');
  background-size: cover;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.home-title {
  color: #fff;
  font-size: 6.25rem;
  font-style: normal;
  font-weight: 400;
}

.home-subtitle {
  color: #eddfff;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  margin-top: 0.75rem;
}

/* ProcessButton 스타일 */
.process-button-container {
  display: flex;
  justify-content: center;
  width: 20rem;
  height: 4rem;
  margin-top: 2.5rem;
  border: none;
  align-items: center;
  border-radius: 1.25rem;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.process-button-content {
  font-size: 2rem;
  color: #5d5d5d;
  font-style: normal;
  font-weight: 500;
}

/* 이미지를 위한 스타일 */
.play-img {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}
/* Layout 스타일 */
.layout-box {
  width: 100%;
  margin: 0 auto;
}
/* Create.css 스타일 */
input[type='range'] {
  -webkit-appearance: none;
  width: 120;
  height: 10px;
  outline: none;
  border-radius: 8.1875rem;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: radial-gradient(50% 50% at 50% 50%, #946ec4 0%, #513d6c 100%);
  cursor: pointer;
}

input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 20px;
  border-radius: 8.1875rem;
  background: #d9d9d9;
  box-shadow:
    4px 4px 10px 0px rgba(0, 0, 0, 0.35) inset,
    -15px -15px 30px 0px #fff inset;
}

.MusicSpeedInput {
  width: 90%;
}

.Controller {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 16rem;
  margin: 2rem;
  border-radius: 0.875rem;
  border: 1px solid #e2d2fe;
  background: #fff;
  box-shadow: -2px 5px 13px 2px rgba(0, 0, 0, 0.25);
}

.create-button:hover {
  background: #f0f0f0;
}

.create-button:active {
  background: #e3e5ff;
}

.create-button {
  padding: 0.4rem 1rem;
  font-size: 1rem;
  width: 4.6rem;
  font-weight: 500;
  color: #ffffff;
  border-radius: 1rem;
  background: linear-gradient(
    120deg,
    #dbbeff -0.41%,
    rgba(212, 210, 255, 0.98) 6.15%,
    rgba(219, 200, 243, 0.76) 35.4%,
    rgba(219, 200, 243, 0.76) 78.69%
  );
}

.create-button-after {
  padding: 0.4rem 1rem;
  width: 4.6rem;
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  border-radius: 1rem;
  background: linear-gradient(120deg, #946ec4 0%, #513d6c 100%);
}

input:focus {
  outline: none;
}

/* CreateMember 스타일 */
.create-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  background: linear-gradient(
    119deg,
    #fff 0%,
    #dfd0ff 46%,
    #faf7ff 100%,
    #cc46b7 100%
  );
  background-size: cover;
  position: relative;
}

.logout-button {
  position: absolute;
  right: 0;
  top: 0;
  margin: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  border-radius: 1rem;
  background: linear-gradient(
    119deg,
    #f7c5e0 0%,
    #f7c5e0 46%,
    #f7c5e0 100%,
    #f7c5e0 100%
  );
  border: none;
  cursor: pointer;
}